.editor * {
    font-family: monospace;
}

.editor .lineNumber {
    padding: 0 2ch 0 2ch;
}

.editor div:nth-child(even) {
    background-color: #d2d2d2;
}

.editor div:nth-child(odd) {
    background-color: #e2e2e2;
}

.editor div {
    display: flex;
}

.row {
    height: 1rem;
    font-size: 1rem;
}

.row * {
    height: 1rem;
}

.row .lineNumber {
    order: 0;
}

.row input {
    order: 1;
    margin: unset;
    padding: unset;
    border: unset;
    outline: unset;
    /* width: 100%; */
    flex-grow: 1;
    height: 1rem;
    background-color: inherit;
}