.editor {
    width: 100%;
    height: 30em;
    background-color: white;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1em;
    overflow: auto;
    font-family: monospace;

    display: grid;
    grid-template-columns: 10ch auto;
    grid-template-rows: repeat(-1, 1em);
}

.editor.active {
    border: 1px solid rgb(0, 153, 255);
}

/* .editor * {
    width: 100%;
    height: 1em;
    border: unset;
    margin: unset;
    padding: unset;
    border-radius: unset;
    outline: unset;
} */

.editor * {
    font-family: inherit;
    font-size: 1em;
    height: 1em;
}

.editor span {
    color: #525252;
    border: 1px solid black;
    border-width: 0px 1px 0px 0px;
    padding: 0px 2ch 0px 2ch;
    text-align: right;
    

    /* justify-self: left;
    align-self: center; */
}

.editor input {
    border: none;
    margin: unset;
    padding: 0px 0px 0px 0.5em;
    border-radius: unset;
    outline: none;

    /* align-self: center;
    height: auto;
    font-size: 1rem; */
}

.editor:active {
    border: none;
}

.editor:nth-child(even) * {
    background-color: #f2f2f2;
}

.editor:nth-child(odd) * {
    background-color: #e2e2e2;
}