extends ../layout

block content
  h1 TODO-List
  form(action="/todo/add" method="POST")
    div
      span Time:
      input(type="time" placeholder="time" name="time" required="true")
    div
      span Event:
      input(type="text" placeholder="Event" name="event" required="true")
    button(type="submit") Submit
