extends layout

block header
		link(rel="stylesheet", href="/stylesheets/flex-controls.css")
		link(rel="stylesheet", href="/stylesheets/grid-content.css")


block content
	form(action="/calendar/create" method="POST")
		div.content
			h1#heading Create Event
			include event.pug
		div.controls
			div.submit
				button(type="submit") Submit
