extends layout

block header
		link(rel="stylesheet", href="/stylesheets/flex-controls.css")
		link(rel="stylesheet", href="/stylesheets/grid-content.css")

block content
	form(method="POST")
		input(hidden="true" type="text" name="_id" value=`${event._id}`)
		div.content
			h1#heading Delete Event
			span.pre Name: 
			span.value #{event.name}
			span.pre Time: 
			span.value #{event.time}
			span.pre Detail:
			span.value #{event.detail}
		div.controls
			div.return
				a(href="/calendar")
					input(type="button", value="Go Back")
			div.submit
				button(type="submit") Delete