div.content
    h1#heading Event Detail
    include event.pug
div.controls
    div.edit
        a(href=`/calendar/edit/${event._id}`)
            input(type="button", value="Edit")
    div.delete
        a(href=`/calendar/delete/${event._id}`)
            input(type="button", value="Delete")
