extends layout

block header
		link(rel="stylesheet", href="/stylesheets/flex-controls.css")
		link(rel="stylesheet", href="/stylesheets/grid-content.css")
		script(src="/scripts/grid-content.js")

block content
	form(action=`/calendar/edit/${event._id}` method="POST")
		div.content
			h1#heading Edit Event
			span.pre Name: 
			input.value(type="text" placeholder="Event Name" name="name" value=`${event.name}` required="true")
			span.pre Time: 
			input.value(type="time" placeholder="time" name="time" value=`${event.time}` required="true")
			span.pre Detail: 
			textarea.value(cols="30", rows="1" placeholder="Event Detail" name="detail") #{event.detail}
		div.controls
			div.submit
				button(type="submit") Submit