extends ../layout

block content
  form(action=`/calendar/edit/${event._id}` method="POST")
    h1 Edit Event
    div
        span Name: 
        input(type="text" placeholder="Event Name" name="name" value=`${event.name}` required="true")
    div
        span Time: 
        input(type="time" placeholder="time" name="time" value=`${event.time}` required="true")
    div
        span Detail: 
        input(type="text" placeholder="Event Detail" name="detail" value=`${event.detail}`)
    button(type="submit") Submit