extends ../layout

block content
  h1 Calendar
  a(href='/calendar/add') Add Event
  br
  table
    tbody
      tr
        td Time
        td Event
      each val in calendarList
        tr
          td #{val.time}
          td #{val.event}
          td 
            a(href=`/calendar/edit/${val._id}`) edit
          td
            a(href=`/calendar/delete/${val._id}`) delete

