extends layout

block header
	script(src="/scripts/calendar.js")

block content
	h1 Calendar
	a(href='/calendar/create') Create Event
	br
	table
		thead
			tr
				td Time
				td Event Name
		tbody
			each val in events
				tr.event
					td #{val.timeStart}
					td #{val.name}
				tr
					td.data(colspan="2", id=val._id) 
