extends layout

block content
	h1 Calendar
	a(href='/calendar/create') Create Event
	br
	table
		thead
			tr
				td Time
				td Event Name
		tbody
			each val in events
				tr
					td #{val.timeStart}
					td 
						a(href=`/calendar/details/${val._id}`) #{val.name}
			
