extends ../layout

block content
	h1 Calendar
	a(href='/calendar/add') Add Event
	br
	table
		thead
			tr
				td Time
				td Event Name
		tbody
			each val in events
				tr
					td #{val.time}
					td 
						a(href=`/calendar/detail/${val._id}`) #{val.name}

