:root {
  font-size: 16px;
}

body {
  position: relative;
  left: 25%;
  width: 50%;
  height: 100%;
  right:25%;
  padding: 50px;
  
  display: flex;
  flex-direction: column;
  
  background: #EEE;
  
  line-height: 1.5;
  font: 16px "Open Sans",sans-serif;
  
  border-style: solid;
  border-width: 0px 2px 0px 2px;
  border-color: #CCC;
}

fieldset {
  border: 2px solid #CCC;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

input, textarea, select, button {
  padding: 0.5rem 0.8rem;
  margin: 4px 0;
  
  border: 1px solid #DDD;
  border-radius: 3px;
}

a {
  color: #00B7FF;
}

#submit {
  border: 0px;
}
