extends ../layout

block header
	script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js")
	script(src="/scripts/astevoid.js")
	style.
		#header {
			margin: auto;
		}

		.p5Canvas {
			margin: auto;
			width: 37.5rem;
			height: 25rem;
		}

block content
	h1#header Astevoid
