extends ../layout

block header
    script(src="scripts/editor/editor.js")
    link(rel="stylesheet", href="stylesheets/editor/style.css")

block content
    div#mainEditor.editor(name="mainEditor", cols="50", rows="30")
        table#mainEditorTable.editorTable