extends ../layout

block content
  form(action=`/todo/edit/${item._id}` method="POST")
    h1 Edit Item
    div
        span Time:
        input(type="time" placeholder="time" name="time" value=`${item.time}` required="true")
    div
        span Item: 
        input(type="text" placeholder="item" name="item" value=`${item.item}` required="true")
    button(type="submit") Submit